/* ColorsBackground (Grey): white, #D5D5D5;
Background Accent (Navy Grey): #9099A2;
Text (Black): #030000;
Accent 1 (Navy Blue): #6D7993;
Accent 2 (Pink): #DBB1CA;
Padding: top right bottom left;
*/
/* font-family: 'Lato', sans-serif;
*/
/* Layout styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: #ff7f50;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:hover {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #994c30;
}

a:hover, a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff !important;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
  /* width of the border, type, color */
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50 !important;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff !important;
}
/* Layout styling */
.container {
    margin: 20px;
    padding: 0 15px;
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
.box {
  background-color: #66b9bf;
  margin: 20px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-width: 10px;
  border-bottom: 3px solid #4a4a4a;
  text-align: center;
}
#hero h1 {
  text-align: center; /* Centers text */
}
.logo {
  max-width: 250px;
}
.header {
  background-color: #ffe4c4;
  text-align: center; /* Centers text */
  padding: 10px 0;
}
#hero {
  background-color: #ffe4c4;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border-width: 10px;
  padding-bottom: 15px;
}
.work {
  background-color: #eeaa7b;
  text-align: center;
  margin: 20px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-width: 10px;
  border-bottom: 3px solid #4a4a4a;
}
.footer {
  text-align: center; /* Centers text */
  padding: 0 15px
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    nav {
      width: auto;
      float: right
      margin-top: 4px;
    }
    .col-md-6 {
      width: 50%;
    }

    [class*="col-"] {
          float: left;
          padding: 20px;
    }

    .row::after {
          content: "";
          clear: both;
          display: table;
    }
    #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
    }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    nav {
      width: auto;
      float: right
      margin-top: 4px;
    }
    .col-lg-5 {
    width: 65%;
  }
    .col-lg-7 {
    width: 35%;
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    nav {
      width: auto;
      float: right
      margin-top: 4px;
    }
    #hero span {
  display: block;
    }
}

/* ==============================
Animations
================================= */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* nav bar animation  */
.borderXwidth a:before, .borderXwidth a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #FFF;
  transition: all 0.3s;
}

.borderXwidth a:before {
  left: 0px;
  top: 0px;
}

.borderXwidth a:after {
  right: 0px;
  bottom: 0px;
}

.borderXwidth a:hover:before, .borderXwidth a:hover:after {
  opacity: 1;
  width: 100%;
}
/*Colors used:Primary Color (Blue): #07889b;
Secondary Color (Orange): #e37222;
*/
